<div class="card">
    <div class="card-header bg-dark text-light">Level 1</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level1.cshtml.</p>
        <ol>
            <li>...all womens' leagues</li>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach(var l in ViewBag.WomensL)
                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>
                    }
                </table>
            
            <li>...all leagues where sport is any type of hockey</li>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                @foreach(var l in ViewBag.Hockey)
                {
                    <tr>
                        <td>@l.Name</td>
                        <td>@l.Sport</td>
                    </tr>
                }
                </table>
            
            <li>...all leagues where sport is something OTHER THAN football</li>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                @foreach(var l in ViewBag.NotFoot)
                {
                    <tr>
                        <td>@l.Name</td>
                        <td>@l.Sport</td>
                    </tr>
                }
                </table>
            
            <li>...all leagues that call themselves "conferences"</li>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                @foreach(var l in ViewBag.Conferences)
                {
                    <tr>
                        <td>@l.Name</td>
                        <td>@l.Sport</td>
                    </tr>
                }
                </table>
            
            <li>...all leagues in the Atlantic region</li>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                @foreach(var l in ViewBag.Atlantic)
                {
                    <tr>
                        <td>@l.Name</td>
                        <td>@l.Sport</td>
                    </tr>
                }
                </table>
                
            <li>...all teams based in Dallas</li>
                <table class="table table-striped">
                    <tr>
                        <th>Team Name</th>
                        <th>Team Location</th>
                    </tr>
                @foreach(var l in ViewBag.Dallas)
                {
                    <tr>
                        <td>@l.TeamName</td>
                        <td>@l.Location</td>
                    </tr>
                }
                </table>
            
            <li>...all teams named the Raptors</li>
                <table class="table table-striped">
                    <tr>
                        <th>Team Name</th>
                        <th>Team Location</th>
                    </tr>
                @foreach(var l in ViewBag.Raptors)
                {
                    <tr>
                        <td>@l.TeamName</td>
                        <td>@l.Location</td>
                    </tr>
                }
                </table>
            
            <li>...all teams whose location includes "City"</li>
                <table class="table table-striped">
                    <tr>
                        <th>Team Name</th>
                        <th>Team Location</th>
                    </tr>
                @foreach(var l in ViewBag.CityBois)
                {
                    <tr>
                        <td>@l.TeamName</td>
                        <td>@l.Location</td>
                    </tr>
                }
                </table>
            
            <li>...all teams whose names begin with "T"</li>
                <table class="table table-striped">
                    <tr>
                        <th>Team Name</th>
                        <th>Team Location</th>
                    </tr>
                @foreach(var l in ViewBag.T)
                {
                    <tr>
                        <td>@l.TeamName</td>
                        <td>@l.Location</td>
                    </tr>
                }
                </table>
            
            <li>...all teams, ordered alphabetically by location</li>
                <table class="table table-striped">
                    <tr>
                        <th>Team Name</th>
                        <th>Team Location</th>
                    </tr>
                @foreach(var l in ViewBag.AllTeams)
                {
                    <tr>
                        <td>@l.TeamName</td>
                        <td>@l.Location</td>
                    </tr>
                }
                </table>
                
            <li>...all teams, ordered by team name in reverse alphabetical order</li>
                <table class="table table-striped">
                    <tr>
                        <th>Team Name</th>
                        <th>Team Location</th>
                    </tr>
                @foreach(var l in ViewBag.AllTeamsDesc)
                {
                    <tr>
                        <td>@l.TeamName</td>
                        <td>@l.Location</td>
                    </tr>
                }
                </table>
                
            
            <li>...every player with last name "Cooper"</li>
                <table class="table table-striped">
                    <tr>
                        <th>Player Name</th>
                        <th>Team ID</th>
                    </tr>
                @foreach(var l in ViewBag.Cooper)
                {
                    <tr>
                        <td>@l.FirstName @l.LastName</td>
                        <td>@l.TeamId</td>
                    </tr>
                }
                </table>
            
            <li>...every player with first name "Joshua"</li>
                <table class="table table-striped">
                    <tr>
                        <th>Player Name</th>
                        <th>Team ID</th>
                    </tr>
                @foreach(var l in ViewBag.Joshua)
                {
                    <tr>
                        <td>@l.FirstName @l.LastName</td>
                        <td>@l.TeamId</td>
                    </tr>
                }
                </table>
            
            <li>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</li>
                <table class="table table-striped">
                    <tr>
                        <th>Player Name</th>
                        <th>Team ID</th>
                    </tr>
                @foreach(var l in ViewBag.OtherPlayers)
                {
                    <tr>
                        <td>@l.FirstName @l.LastName</td>
                        <td>@l.TeamId</td>
                    </tr>
                }
                </table>
            
            <li>...all players with first name "Alexander" OR first name "Wyatt"</li>
                            <table class="table table-striped">
                    <tr>
                        <th>Player Name</th>
                        <th>Team ID</th>
                    </tr>
                @foreach(var l in ViewBag.AandW)
                {
                    <tr>
                        <td>@l.FirstName @l.LastName</td>
                        <td>@l.TeamId</td>
                    </tr>
                }
                </table>
            
        </ol>
    </div>
</div>